# Fill in credentials and save as only .env

# Absolutely Definitely Please DO NOT commit .env to Github

# Facebook
FB_TOKEN=

# Conversation
WORKSPACE_ID=
CONVERSATION_USERNAME=
CONVERSATION_PASSWORD=
CONVERSATION_URL=

# Discovery
DISCOVERY_USERNAME=
DISCOVERY_PASSWORD= 
ENVIRONMENT_ID=
COLLECTION_ID=
