<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<center>
    <h2>This is Monikos JSON helper</h2>
</center>
    <p>1. blank line is not a problem for now</p>
    <p>2. copy only  <span style="color:red;font-weight:bold">ONE</span> drug information into the box: it should start with "$"</p>
    <p>3. make sure the drug info follow the <span style="color:red;font-weight:bold">ORDER</span> : Generic -> Menomonic -> Brand -> Class ->
                                             Indication -> Renal -> Hepatic -> Side effects -> Mechanism ->
                                             Black -> Resource.</p>
    <p>4. click button 'tran json', done. However, if you are directed to an error page: <li>First, re-check whether you followed: step 2 and 3 correctly.</li> <li>Second, re-check whether the symbol follows the layer: $--------#--------!-------*-------@-------|</li>

    <form action="/create/" method="Post">
        <!--input drug: <input id='in' type = 'text' name="text"><br>-->
        <textarea  type = 'text' name="text" id="taid" cols="100" rows="30" wrap="soft"></textarea>

    <input type="submit" class='w3-btn w3-black' value="Trans json">
    </form>


</body>
</html>